<ion-header>
  <ion-toolbar>
    <ion-title>take-photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngIf=" photoService.photos[0] as photo">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, 0)">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-button routerLink="/profile" [disabled]="!photoService.photos[0]"
      >Submit</ion-button
    >
  </ion-fab>

  <ion-item>
    <ion-label routerLink="/profile">Skip for now</ion-label>
  </ion-item>
</ion-content>
