<div class="custom-checkboxes-example">
  <ion-row>
    <ion-col size="6">
      <div
        class="checkbox-content"
        [style.--img-src]="
          'url(https://images.pexels.com/photos/220911/pexels-photo-220911.jpeg?auto=compress&cs=tinysrgb)'
        "
      >
        <ion-label class="checkbox-title">Home</ion-label>
        <ion-checkbox class="checkbox-item" value="food"></ion-checkbox>
      </div>
    </ion-col>
    <ion-col size="6">
      <div
        class="checkbox-content"
        [style.--img-src]="
          'url(https://images.pexels.com/photos/6102505/pexels-photo-6102505.jpeg?auto=compress&cs=tinysrgb)'
        "
      >
        <ion-label class="checkbox-title">Men</ion-label>
        <ion-checkbox class="checkbox-item" value="hike"></ion-checkbox>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <div
        class="checkbox-content"
        [style.--img-src]="
          'url(https://images.pexels.com/photos/848573/pexels-photo-848573.jpeg?auto=compress&cs=tinysrgb)'
        "
      >
        <ion-label class="checkbox-title">Women</ion-label>
        <ion-checkbox class="checkbox-item" value="travel"></ion-checkbox>
      </div>
    </ion-col>
    <ion-col size="6">
      <div
        class="checkbox-content"
        [style.--img-src]="
          'url(https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb)'
        "
      >
        <ion-label class="checkbox-title">Children</ion-label>
        <ion-checkbox class="checkbox-item" value="fashion"></ion-checkbox>
      </div>
    </ion-col>
  </ion-row>
</div>
