<div class="custom-checkboxes-example">
  <ion-row>
    <ion-col size="6">
      <app-custom-checkbox class="custom-checkbox">
        <div
          class="checkbox-content"
          [style.--img-src]="
            'url(https://images.pexels.com/photos/220911/pexels-photo-220911.jpeg?auto=compress&cs=tinysrgb)'
          "
        >
          <ion-label class="checkbox-title">{{ collections[8] }}</ion-label>
          <ion-checkbox class="checkbox-item" value="hats"></ion-checkbox>
        </div>
      </app-custom-checkbox>
    </ion-col>
    <ion-col size="6">
      <app-custom-checkbox class="custom-checkbox">
        <div
          class="checkbox-content"
          [style.--img-src]="
            'url(https://images.pexels.com/photos/6102505/pexels-photo-6102505.jpeg?auto=compress&cs=tinysrgb)'
          "
        >
          <ion-label class="checkbox-title">{{ collections[9] }}</ion-label>
          <ion-checkbox class="checkbox-item" value="shoes"></ion-checkbox>
        </div>
      </app-custom-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <app-custom-checkbox class="custom-checkbox">
        <div
          class="checkbox-content"
          [style.--img-src]="
            'url(https://images.pexels.com/photos/848573/pexels-photo-848573.jpeg?auto=compress&cs=tinysrgb)'
          "
        >
          <ion-label class="checkbox-title">{{ collections[73] }}</ion-label>
          <ion-checkbox class="checkbox-item" value="clay"></ion-checkbox>
        </div>
      </app-custom-checkbox>
    </ion-col>
    <ion-col size="6">
      <app-custom-checkbox class="custom-checkbox">
        <div
          class="checkbox-content"
          [style.--img-src]="
            'url(https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb)'
          "
        >
          <ion-label class="checkbox-title">{{ collections[12] }}</ion-label>
          <ion-checkbox class="checkbox-item" value="bags"></ion-checkbox>
        </div>
      </app-custom-checkbox>
    </ion-col>
  </ion-row>
</div>
