<ion-content>
  <ion-tabs menuId="main-menu" content-id="main">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-label>Notifications</ion-label>
        <ion-icon name="notifications"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="add-product">
        <ion-label>Add Product</ion-label>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="payment">
        <ion-label>Payment</ion-label>
        <ion-icon name="wallet"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
