.wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  .logo {
    display: flex;
    justify-content: center;
    img {
      width: 40%;
    }
  }
  .photo {
    box-sizing: border-box;
    width: 20rem;
    margin-bottom: 1rem;
    position: relative;
    ion-img::part(image) {
      border-radius: 10px;
    }
    .remove {
      background-color: #e96004;
      position: absolute;
    }
  }

  ion-button {
    --background: linear-gradient(to right, #bd0212 14%, #e96004 96%);
    --background-hover: linear-gradient(to right, #4b0208 96%, #d16923 14%);
    --border-radius: 7px;
  }

  ion-label {
    color: rgb(116, 116, 116, 0.8);
  }

  .checkbox-content {
    background: var(--img-src), rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    aspect-ratio: 1 / 1;

    .checkbox-item {
      color: #e96004;
      --border-color: var(--ion-color-light);
      --size: 50px;
      margin: 8px;
    }
  }
}

.mandela-top-right {
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}

.mandela-bottom-left {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
