<ion-content class="row ion-text-center">
  <ion-row>
    <div class="fire-logo">
      <img src="../../../assets/tindy-logo.jpeg" class="img-logo" />
      <ion-text class="ion-padding">
        <h5 class="ion-no-margin ion-margin-vertical">
          Confirm your number with the code we sent to your phone number
        </h5>
      </ion-text>
    </div>
  </ion-row>

  <form (ngSubmit)="verifyCode()">
    <ion-item fill="outline">
      <ion-input
        placeholder="Enter your code"
        type="tel"
        required
        [(ngModel)]="code"
        name="code"
      ></ion-input>
    </ion-item>
    <ion-button type="submit">confirm</ion-button>
  </form>
</ion-content>
