.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 3px;
  font-size: 0.9em !important;
}
.phoneCountry {
  border: 1px solid gainsboro;
  border-radius: 3px;
  margin-left: 1px;
}
.phoneAuthGrid {
  border: 1px solid #ccc;
  margin: 0 5px;
  border-radius: 3px;
}
