.statues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}

.tindy-logo {
  display: flex;
  justify-content: center;
  align-self: center;
}

.tindy-logo img {
  width: 30%;
}

.form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

ion-button {
  --background: linear-gradient(to right, #bd0212 14%, #e96004 96%);
  --background-hover: linear-gradient(to right, #4b0208 96%, #d16923 14%);
  --border-radius: 8px;
}

.mandela-top-right {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.mandela-bottom-left {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

ion-content {
  --ion-background-color: white;
}

ion-item {
  --background: white;
  --color: black;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
}

.validation-errors {
  margin: 0 0 2rem 0;
}
