<div class="container">
  <form [formGroup]="detailsForm" (ngSubmit)="submitForm()">
    <h4>Product Description</h4>
    <textarea spellcheck="true" wrap="soft" placeholder="Write a Description here..." type="text" id="description"
      required formControlName="description"></textarea>

    <div class=" color-section">
      <h4>What Colors Availabe?</h4>
      <div class="custom-checkboxes-example" formArrayName="colors">
        <ion-row>
          <ion-col size="2" *ngFor="let color of colorOptions; let i = index">
            <app-custom-checkbox class="custom-checkbox">
              <div class="checkbox-content" [style.background-color]="color">
                <ion-checkbox class="checkbox-item" value="color" [formControlName]="i"></ion-checkbox>
              </div>
            </app-custom-checkbox>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <h4>Price</h4>
    <input type="number" class="price-input" placeholder="$" required formControlName="price" />

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!detailsForm.valid">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
