ion-toolbar {
  --color: #f73941;
}

ion-content {
  --background: linear-gradient(#f73941, #fc6032);
  --padding-top: 5rem;
}

.full-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

ion-button {
  height: 100%;
  background: white !important;
  border: 4px solid;
  border-radius: 10%;
  border: none;
}

.buttons {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

ion-icon {
  font-size: 100px;
  color: #f73941;
  padding: 20px 10px;
}

p {
  font-size: 20px;
}
