<ion-header>
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="full-screen">
    <div class="buttons">
      <ion-buttons>
        <ion-button routerLink="/profile">
          <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
      <p>Profile</p>
    </div>
    <div class="buttons">
      <ion-buttons>
        <ion-button routerLink="/add-product">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <p>Add Prduct</p>
    </div>

    <div class="buttons">
      <ion-buttons>
        <ion-button routerLink="/payment">
          <ion-icon name="wallet"></ion-icon>
        </ion-button>
      </ion-buttons>
      <p>Payment</p>
    </div>
    <div class="buttons">
      <ion-buttons>
        <ion-button routerLink="/settings">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
      <p>Settings</p>
    </div>
  </div>
</ion-content>
