<ion-content class="form">
  <div class="mandela-top-right"><img src="../../../assets/images/simbol1.png" /></div>
  <div class="form">
    <div id="submit-button"></div>
    <div class="tindy-logo">
      <img src="../../../assets/images/tindy-logo.png" />
    </div>
    <div *ngIf="isSignup" class="statues">
      <h1>Register</h1>
      <ion-button (click)="changeFormType('login')"
        >already have an account?</ion-button
      >
    </div>

    <div *ngIf="isLogin" class="statues">
      <h1>Log in</h1>
      <ion-button
        (click)="changeFormType('Register')"
        [routerLink]="['/register']"
        >not registered yet?</ion-button
      >
    </div>

    <form>
      <ion-item *ngIf="isSignup">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>

      <app-phone (phoneNumber)="onPhoneEmitted($event)"></app-phone>

      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            (click)="signinWithPhoneNumber($event)"
            [disabled]=" !phoneNumber "
          >
            {{formType}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <app-social-login></app-social-login>
  </div>
  <div class="mandela-bottom-left"><img src="../../../assets/images/simbol2.png" /></div>
</ion-content>
