.statues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}
.tindy-logo {
  display: flex;
  justify-content: center;
  align-self: center;
}
.tindy-logo img {
  width: 30%;
}
.forme {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ion-button {
  --background: linear-gradient(to right, #bd0212 14%, #e96004 96%);
  --background-hover: linear-gradient(to right, #4b0208 96%, #d16923 14%);
  --border-radius: 8px;
}
.simbol1 {
  width: 200px;
  position: fixed;
  top:-70px;
  right:-70px;
}
.simbol2 {
  width: 250px;
  position: fixed;
  bottom:-120px;
  left: -90px;

}
ion-content{
  --ion-background-color:white;
}

ion-item{
  --background:white;
  --color:black;
  margin-bottom: 30px;

}
