ion-card{
  height: 290px;

  img{
    height:50% ;
    width:100%;
    object-fit: cover;
  }
}
.edit-delete-container{
  color:blue;
display: flex;
justify-content: space-around;
align-items: center;
margin-top:20px;

}
ion-icon{
  color:#de0643;
}
