ion-card {
  width: 83%;
  ion-card-header {
    padding-top: 2%;
  }
  img {
    height: 14vh;
    width: 100%;
    object-fit: cover;
  }
}
.edit-delete-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 0 0;
}
ion-icon {
  color: #de0643;
  padding-left: 0;
}
.not-found {
  width: 100%;
  color: #de0643;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
