<form [formGroup]="collectionsForm" (ngSubmit)="onSubmit()">
  <div class="custom-checkboxes-example">
    <ion-row>
      <ion-col size="6" *ngFor="let collect of collectionsList">
        <app-custom-checkbox class="custom-checkbox">
          <div
            class="checkbox-content"
            [style.--img-src]="
              'url(https://i5.walmartimages.com/asr/cfb84877-da21-4a3d-95a1-b89018589b28_1.392ba840a13d8ed1c9660abdf7dc49d8.jpeg)'
            "
          >
            <ion-label class="checkbox-title">{{ collect }}</ion-label>
            <ion-checkbox class="checkbox-item" value="collect"></ion-checkbox>
          </div>
        </app-custom-checkbox>
      </ion-col>
    </ion-row>
  </div>
  <ion-button
    class="submit-btn"
    expand="block"
    type="submit"
    fill="solid"
    [disabled]="!collectionsForm.value"
    >SUBMIT</ion-button
  >
</form>
