<div class="divider">
<div class="col"></div>
<p style="color:black">OR</p>
<div class="col"></div>
</div>
<ion-grid >
  <ion-row >
    <ion-col size="3">
      <button appGoogleLogin>
        <ion-avatar>
          <img src="../../../assets/icons/google-logo.png" />
        </ion-avatar>
      </button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="3">
      <button appFacebookLogin>
        <ion-avatar>
          <img src="../../../assets/icons/facebook-logo.png" />
        </ion-avatar>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
