ion-content {
  --ion-background-color: white;
}

.mandela-top-right {
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}

.mandela-bottom-left {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

.tindy-logo {
  -webkit-animation: scale-up-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  img {
    width: 200px;
    margin-top: 50%;
  }
  display: flex;
  justify-content: center;
}
