<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="back-btn" routerLink="/home">
      <ion-icon class="back-arrow" name="arrow-back-outline"></ion-icon>
      <h3>Back Home</h3>
    </ion-buttons>
    <ion-button
      slot="end"
      color="ion-color-tertiary"
      (click)="logout()"
      routerLink="/login"
    >
      <ion-icon name="log-out" md="md-log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <div class="container">
      <div class="outer">
        <ion-avatar class="profile-pic">
          <img [src]="userInfo.photo" />
        </ion-avatar>

        <div class="inner">
          <img src="/assets/images/tindy-logo.png" class="logo-icon" />
        </div>
      </div>
    </div>
    <h2 class="user">{{userInfo.username}}</h2>
  </div>

  <app-search></app-search>
</ion-content>
