ion-grid {
  display: flex;
  width: 250px;
  margin-top: 25px;
  justify-content: space-around;
  align-items: center;
  left: -10px;
}
ion-avatar {
  background-color: transparent;
}
button {
  background-color: transparent;
}
.col {
  border-top: 0.2px solid rgb(75, 74, 74);
  width: 100px;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 35px;
}
